/***************
     RESET
***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    height: 100vh;
    background-color: lightgrey;
    margin: auto;
    display: flex;
    align-items: center;
}

.slides {
    width: 100%;
    height: 500px;
    position: relative;
}

.slides > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next, .back {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.next:hover, .back:hover {
    opacity: 0.8;
}

.next {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
}

.back {
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
}

.active {
    display: block;
}