/***************
     RESET
***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: lightgrey;
}

.container {
    max-width: 1300px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.slides-container {
    width: 80%;
    height: 500px;
    position: relative;
    border: 3px solid black;
    border-radius: 5px;
}

.mini-slides-container {
    width: 20%;
    height: 500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.slides {
    width: 100%;
    height: 100%;
    display: none;
}

.mini-slides {
    width: 100%;
    height: calc(100% / 5);
    filter: brightness(50%)
}

.mini-slides > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slides > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next, .back {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.next:hover, .back:hover {
    opacity: 0.8;
}

.next {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
}

.back {
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 15px;
}

.active {
    display: block;
}

.bright {
    filter: brightness(100%);
    border: 3px solid white;
}

.title-style {
    position: absolute;
    right: 0;
    bottom: 80px;
    color: white;
    font-size: 35px;
    padding-right: 20px;
    margin-bottom: 15px;
}

.title-text {
    position: absolute;
    color: white;
    font-size: 30px;
    right: 0;
    padding-right: 20px;
    bottom: 40px;
    text-align: right;
    line-height: 28px;
}